<dict>
  <key>ar</key>
  <array>
    <string>google</string>
    <string>wikipedia-ar</string>
    <string>duckduckgo</string>
    <string>twitter</string>
  </array>
  <key>as</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>google</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>wikipedia-as</string>
  </array>
  <key>az</key>
  <array>
    <string>google</string>
    <string>amazondotcom</string>
    <string>azerdict</string>
    <string>duckduckgo</string>
    <string>wikipedia-az</string>
  </array>
  <key>be</key>
  <array>
    <string>google</string>
    <string>be.wikipedia.org</string>
    <string>duckduckgo</string>
    <string>tut.by</string>
    <string>yahoo</string>
    <string>yandex.by</string>
  </array>
  <key>be-BY</key>
  <array>
    <string>yandex.by</string>
    <string>google-nocodes</string>
    <string>be.wikipedia.org</string>
    <string>duckduckgo</string>
    <string>tut.by</string>
    <string>yahoo</string>
  </array>
  <key>bn-IN</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>rediff</string>
    <string>wikipedia-bn</string>
  </array>
  <key>br</key>
  <array>
    <string>google</string>
    <string>yahoo-france</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-br</string>
  </array>
  <key>ca</key>
  <array>
    <string>google</string>
    <string>twitter</string>
    <string>wikipedia-ca</string>
    <string>diec2</string>
    <string>duckduckgo</string>
  </array>
  <key>cs</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>heureka-cz</string>
    <string>mapy-cz</string>
    <string>seznam-cz</string>
    <string>twitter</string>
    <string>wikipedia-cz</string>
  </array>
  <key>cy</key>
  <array>
    <string>google</string>
    <string>yahoo-en-GB</string>
    <string>amazon-en-GB</string>
    <string>duckduckgo</string>
    <string>wikipedia-cy</string>
  </array>
  <key>da</key>
  <array>
    <string>google</string>
    <string>amazon-co-uk</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-da</string>
  </array>
  <key>de</key>
  <array>
    <string>google</string>
    <string>yahoo-de</string>
    <string>amazon-de</string>
    <string>duckduckgo</string>
    <string>qwant</string>
    <string>twitter</string>
    <string>wikipedia-de</string>
  </array>
  <key>default</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia</string>
  </array>
  <key>dsb</key>
  <array>
    <string>google</string>
    <string>yahoo-de</string>
    <string>amazon-de</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-dsb</string>
  </array>
  <key>el</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>skroutz</string>
    <string>twitter</string>
    <string>wikipedia-el</string>
  </array>
  <key>en-CA</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia</string>
  </array>
  <key>en-GB</key>
  <array>
    <string>google</string>
    <string>yahoo-en-GB</string>
    <string>amazon-en-GB</string>
    <string>duckduckgo</string>
    <string>qwant</string>
    <string>twitter</string>
    <string>wikipedia</string>
  </array>
  <key>en-US</key>
  <array>
    <string>google-2018</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia</string>
  </array>
  <key>en-ZA</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia</string>
  </array>
  <key>eo</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>duckduckgo</string>
    <string>reta-vortaro</string>
    <string>twitter</string>
    <string>wikipedia-eo</string>
  </array>
  <key>es-AR</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>mercadolibre-ar</string>
    <string>twitter</string>
    <string>wikipedia-es</string>
  </array>
  <key>es-CL</key>
  <array>
    <string>google</string>
    <string>yahoo-cl</string>
    <string>drae</string>
    <string>duckduckgo</string>
    <string>mercadolibre-cl</string>
    <string>twitter</string>
    <string>wikipedia-es</string>
  </array>
  <key>es-ES</key>
  <array>
    <string>google</string>
    <string>yahoo-es</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-es</string>
  </array>
  <key>es-MX</key>
  <array>
    <string>google</string>
    <string>yahoo-mx</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>mercadolibre-mx</string>
    <string>twitter</string>
    <string>wikipedia-es</string>
  </array>
  <key>et</key>
  <array>
    <string>google</string>
    <string>amazon-co-uk</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-et</string>
  </array>
  <key>eu</key>
  <array>
    <string>google</string>
    <string>yahoo-es</string>
    <string>duckduckgo</string>
    <string>elebila</string>
    <string>wikipedia-eu</string>
  </array>
  <key>fa</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>wikipedia-fa</string>
    <string>yahoo</string>
  </array>
  <key>ff</key>
  <array>
    <string>google</string>
    <string>yahoo-france</string>
    <string>amazon-france</string>
    <string>duckduckgo</string>
    <string>wikipedia-fr</string>
  </array>
  <key>fi</key>
  <array>
    <string>google</string>
    <string>twitter</string>
    <string>wikipedia-fi</string>
    <string>yahoo-fi</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
  </array>
  <key>fr</key>
  <array>
    <string>google</string>
    <string>yahoo-france</string>
    <string>duckduckgo</string>
    <string>qwant</string>
    <string>twitter</string>
    <string>wikipedia-fr</string>
  </array>
  <key>fy-NL</key>
  <array>
    <string>google</string>
    <string>wikipedia-fy-NL</string>
    <string>bolcom-fy-NL</string>
    <string>duckduckgo</string>
  </array>
  <key>ga-IE</key>
  <array>
    <string>google</string>
    <string>amazon-en-GB</string>
    <string>duckduckgo</string>
    <string>tearma</string>
    <string>twitter</string>
    <string>wikipedia-ga-IE</string>
  </array>
  <key>gd</key>
  <array>
    <string>google</string>
    <string>yahoo-en-GB</string>
    <string>duckduckgo</string>
    <string>faclair-beag</string>
    <string>wikipedia-gd</string>
  </array>
  <key>gl</key>
  <array>
    <string>google</string>
    <string>yahoo-es</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-gl</string>
  </array>
  <key>gu-IN</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>wikipedia-gu</string>
  </array>
  <key>he</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-he</string>
  </array>
  <key>hi-IN</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-hi</string>
  </array>
  <key>hr</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazon-en-GB</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-hr</string>
  </array>
  <key>hsb</key>
  <array>
    <string>google</string>
    <string>yahoo-de</string>
    <string>amazon-de</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-hsb</string>
  </array>
  <key>hu</key>
  <array>
    <string>google</string>
    <string>sztaki-en-hu</string>
    <string>vatera</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-hu</string>
  </array>
  <key>hy-AM</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>list-am</string>
    <string>wikipedia-hy-AM</string>
  </array>
  <key>id</key>
  <array>
    <string>google</string>
    <string>yahoo-id</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-id</string>
  </array>
  <key>is</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>leit-is</string>
    <string>wikipedia-is</string>
  </array>
  <key>it</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-it</string>
  </array>
  <key>ja</key>
  <array>
    <string>google</string>
    <string>amazon-jp</string>
    <string>duckduckgo</string>
    <string>twitter-ja</string>
    <string>wikipedia-ja</string>
    <string>yahoo-jp</string>
  </array>
  <key>ka</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>wikipedia-ka</string>
  </array>
  <key>kk</key>
  <array>
    <string>yandex</string>
    <string>google</string>
    <string>yahoo</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-kk</string>
  </array>
  <key>kk-KZ</key>
  <array>
    <string>yandex</string>
    <string>google-nocodes</string>
    <string>yahoo</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-kk</string>
  </array>
  <key>kn</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-kn</string>
    <string>wiktionary-kn</string>
  </array>
  <key>ko</key>
  <array>
    <string>google</string>
    <string>danawa-kr</string>
    <string>twitter</string>
    <string>daum-kr</string>
    <string>duckduckgo</string>
    <string>naver-kr</string>
  </array>
  <key>lo</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-lo</string>
  </array>
  <key>lt</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-lt</string>
  </array>
  <key>lv</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>salidzinilv</string>
    <string>sslv</string>
    <string>twitter</string>
    <string>wikipedia-lv</string>
  </array>
  <key>ml</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ml</string>
  </array>
  <key>mr</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>rediff</string>
    <string>wikipedia-mr</string>
  </array>
  <key>ms</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ms</string>
  </array>
  <key>my</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-my</string>
  </array>
  <key>nb-NO</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>gulesider-mobile-NO</string>
    <string>twitter</string>
    <string>wikipedia-NO</string>
  </array>
  <key>nl</key>
  <array>
    <string>google</string>
    <string>wikipedia-nl</string>
    <string>bolcom-nl</string>
    <string>duckduckgo</string>
  </array>
  <key>nn-NO</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>gulesider-mobile-NO</string>
    <string>twitter</string>
    <string>wikipedia-NN</string>
  </array>
  <key>or</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>wikipedia-or</string>
    <string>wiktionary-or</string>
  </array>
  <key>pl</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-pl</string>
  </array>
  <key>pt-BR</key>
  <array>
    <string>google</string>
    <string>yahoo-br</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-br</string>
  </array>
  <key>pt-PT</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>wikipedia-ptpt</string>
  </array>
  <key>rm</key>
  <array>
    <string>google</string>
    <string>yahoo-ch</string>
    <string>duckduckgo</string>
    <string>leo_ende_de</string>
    <string>pledarigrond</string>
    <string>wikipedia-rm</string>
  </array>
  <key>ro</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ro</string>
  </array>
  <key>ru</key>
  <array>
    <string>google</string>
    <string>yandex-ru</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ru</string>
  </array>
  <key>ru-BY</key>
  <array>
    <string>yandex-ru</string>
    <string>google-nocodes</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ru</string>
  </array>
  <key>ru-KZ</key>
  <array>
    <string>yandex-ru</string>
    <string>google-nocodes</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ru</string>
  </array>
  <key>ru-RU</key>
  <array>
    <string>yandex-ru</string>
    <string>google-nocodes</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ru</string>
  </array>
  <key>ru-UA</key>
  <array>
    <string>google</string>
    <string>yandex-ru</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ru</string>
  </array>
  <key>sk</key>
  <array>
    <string>google</string>
    <string>azet-sk</string>
    <string>duckduckgo</string>
    <string>slovnik-sk</string>
    <string>twitter</string>
    <string>wikipedia-sk</string>
  </array>
  <key>sl</key>
  <array>
    <string>google</string>
    <string>ceneje</string>
    <string>duckduckgo</string>
    <string>odpiralni</string>
    <string>twitter</string>
    <string>wikipedia-sl</string>
  </array>
  <key>sq</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazon-en-GB</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-sq</string>
  </array>
  <key>sr</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-sr</string>
  </array>
  <key>sv-SE</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>prisjakt-sv-SE</string>
    <string>twitter</string>
    <string>wikipedia-sv-SE</string>
  </array>
  <key>ta</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>wikipedia-ta</string>
    <string>wiktionary-ta</string>
  </array>
  <key>te</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>wikipedia-te</string>
    <string>wiktionary-te</string>
  </array>
  <key>th</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-th</string>
  </array>
  <key>tr</key>
  <array>
    <string>google</string>
    <string>yandex-tr</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-tr</string>
  </array>
  <key>tr-TR</key>
  <array>
    <string>yandex-tr</string>
    <string>google-nocodes</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-tr</string>
  </array>
  <key>uk</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-uk</string>
    <string>yandex-market</string>
  </array>
  <key>uk-UA</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-uk</string>
    <string>yandex-market</string>
  </array>
  <key>ur</key>
  <array>
    <string>google</string>
    <string>yahoo-in</string>
    <string>amazon-in</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-ur</string>
  </array>
  <key>uz</key>
  <array>
    <string>google</string>
    <string>yahoo</string>
    <string>amazondotcom</string>
    <string>duckduckgo</string>
    <string>twitter</string>
    <string>wikipedia-uz</string>
  </array>
  <key>zh-CN</key>
  <array>
    <string>baidu</string>
    <string>google-nocodes</string>
    <string>duckduckgo</string>
    <string>taobao</string>
    <string>wikipedia-zh-CN</string>
  </array>
  <key>zh-HK</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>wikipedia-zh-TW</string>
  </array>
  <key>zh-TW</key>
  <array>
    <string>google</string>
    <string>duckduckgo</string>
    <string>wikipedia-zh-TW</string>
  </array>
</dict>

