<dict>
  <key>ar</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>as</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>az</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>be</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>be-BY</key>
  <string>https://yandex.by/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>be-KZ</key>
  <string>https://yandex.by/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>be-RU</key>
  <string>https://yandex.by/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>be-TR</key>
  <string>https://yandex.by/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>be-UA</key>
  <string>https://yandex.by/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>bn-IN</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>br</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ca</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>cs</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>cy</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>da</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>de</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>default</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>dsb</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>el</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>en-CA</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>en-GB</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>en-US</key>
  <string>https://search.yahoo.com/yhs/search?ei=UTF-8&amp;hspart=mozilla&amp;hsimp=yhsm-002&amp;p={searchTerms}&amp;type=ios</string>
  <key>en-ZA</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>eo</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>es-AR</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>es-CL</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>es-ES</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>es-MX</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>et</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>eu</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>fa</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ff</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>fi</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>fr</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>fy-NL</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ga-IE</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>gd</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>gl</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>gu-IN</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>he</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>hi-IN</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>hr</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>hsb</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>hu</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>hy-AM</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>id</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>is</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>it</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ja</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ka</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>kk</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kk-BY</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kk-KZ</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kk-RU</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kk-TR</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kk-UA</key>
  <string>https://yandex.kz/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>kn</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ko</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>lo</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>lt</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>lv</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ml</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>mr</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ms</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>my</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>nb-NO</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>nl</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>nn-NO</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>or</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>pl</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>pt-BR</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>pt-PT</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>rm</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ro</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ru</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ru-BY</key>
  <string>https://yandex.ru/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>ru-KZ</key>
  <string>https://yandex.ru/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>ru-RU</key>
  <string>https://yandex.ru/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>ru-TR</key>
  <string>https://yandex.ru/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>ru-UA</key>
  <string>https://yandex.ru/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>sk</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>sl</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>sq</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>sr</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>sv-SE</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>ta</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>te</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>th</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>tr</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>tr-BY</key>
  <string>https://yandex.com.tr/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>tr-KZ</key>
  <string>https://yandex.com.tr/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>tr-RU</key>
  <string>https://yandex.com.tr/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>tr-TR</key>
  <string>https://yandex.com.tr/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>tr-UA</key>
  <string>https://yandex.com.tr/yandsearch?clid=2186727&amp;text={searchTerms}</string>
  <key>uk</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>uk-BY</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>uk-KZ</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>uk-RU</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>uk-TR</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>uk-UA</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>ur</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>uz</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8&amp;client=firefox-b</string>
  <key>zh-CN</key>
  <string>https://m.baidu.com/s?from=1000969b&amp;word={searchTerms}</string>
  <key>zh-HK</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
  <key>zh-TW</key>
  <string>https://www.google.com/search?q={searchTerms}&amp;ie=utf-8&amp;oe=utf-8</string>
</dict>
