github "swisspol/GCDWebServer" ~> 3.3.3
github "cezheng/Fuzi" "master"
github "mozilla-mobile/AutocompleteTextField" "master"
github "mozilla-mobile/telemetry-ios" ~> 1.1
github "AgileBits/onepassword-extension" "new/carthage+ios10"
github "mozilla/glean" "v36.0.0"
