# Xcode
build/
!taskcluster/kinds/build
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

# fastlane
/fastlane/scripts/upload.sh
/fastlane/README.md
/firefox-ios-l10n
# fastlane temporary profiling data
/fastlane/report.xml
# deliver temporary error output
/fastlane/Error*.png
# deliver temporary preview output
/fastlane/Preview.html
# snapshot generated screenshots
/fastlane/screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
# folders for storing builds and prov profiles
/builds
/provisioning-profiles
/assets
#build tools
/fastlane/Appfile
/fastlane/Snapfile
/fastlane/SnapshotHelper.swift
/fastlane/frames
/fastlane/scripts
/fastlane/templates

# content blocking lists
firefox-ios/Client/ContentBlocker/Lists/*

#python environment
python-env/

# OS X
.DS_Store

# Vim
*~
.*.sw*
buildServer.json
.nvim/
.swiftformat

# IDEA
.idea

# Required for Glean
firefox-ios/Client/Generated
firefox-ios/Sync/Generated
firefox-ios/Storage/Generated
focus-ios/Blockzilla/Generated
.venv/

firefox-ios/ThirdParty/google-breakpad

# Saved Sync credentials for tests.
signedInUser.json

# Generated config file
MozBuildID.xcconfig

# Python
__pycache__
.pytest_cache
*.pyc
*venv/

# SQLite
*.db-shm
*.db-wal

# Node.js
node_modules
firefox-ios/Client/Assets/AllFramesAtDocumentStart.js
firefox-ios/Client/Assets/AllFramesAtDocumentEnd.js
firefox-ios/Client/Assets/MainFrameAtDocumentStart.js
firefox-ios/Client/Assets/MainFrameAtDocumentEnd.js
firefox-ios/Client/Assets/AutofillAllFramesAtDocumentStart.js
firefox-ios/Client/Assets/NightModeMainFrameAtDocumentEnd.js
firefox-ios/Client/Assets/NightModeAllFramesAtDocumentStart.js
firefox-ios/Client/Assets/WebcompatAllFramesAtDocumentStart.js
firefox-ios/Client/Assets/addressFormLayout.js
firefox-ios/Client/Assets/AddressFormManager.js
firefox-ios/Client/Assets/*.js.LICENSE.txt

# L10n
/firefoxios-l10n
/ios-l10n-scripts
/LocalizationTools

focus-ios/focus-ios-tests/tools/Localizations
focus-ios/focusios-l10n
import-strings.log
export-strings.log

# Nimbus
nimbus-fml/

*config.py

# tmp files
/test-fixtures/tmp/*

# Nimbus build artifacts.
bin/nimbus-fml-configuration.local.sh
bin/nimbus-fml.sh
firefox-ios/nimbus-fml-configuration.local.sh
firefox-ios/bin/nimbus-fml.sh
firefox-ios/bin/nimbus-fml-configuration.local.sh

# ContentBlocking
ContentBlockingLists/disconnect-*
focus-ios/shavar-*
firefox-ios/shavar-*
shavar-*
