# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

fastlane/scripts/upload.sh
/firefox-ios-l10n
# fastlane temporary profiling data
/fastlane/report.xml
# deliver temporary error output
/fastlane/Error*.png
# deliver temporary preview output
/fastlane/Preview.html
# snapshot generated screenshots
/fastlane/screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
# folders for storing builds and prov profiles
/builds
/provisioning-profiles
/assets
#build tools
/scripts
/fastlane/Appfile
/fastlane/Snapfile
/fastlane/SnapshotHelper.swift
/fastlane/frames
/fastlane/scripts
/fastlane/templates

#python environment
python-env/

# OS X
.DS_Store

# Vim
*~
.*.sw*

# IDEA
.idea

Carthage/

ThirdParty/google-breakpad

# Saved Sync credentials for tests.
signedInUser.json

# Generated config file
MozBuildID.xcconfig

# Python.
*.pyc
