[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fxapom = "*"
mozdownload = "*"
mozinstall = "*"
mozprofile = "*"
mozrunner = "*"
mozversion = "*"
pytest = "*"
pytest-html = "*"
pytest-metadata = "*"
requests = "*"
pytest-fxa-mte = "==1.8.0"

[dev-packages]

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
