# For instructions on managing dependencies, see:
# https://taskcluster-taskgraph.readthedocs.io/en/latest/howto/bootstrap-taskgraph.html

mozilla-taskgraph>=3.0.3
mozilla-version>=4.0.0
taskcluster-taskgraph>=13.1.0
