[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
xcrun = "*"
isim = "*"
black = "*"
pytest-html = "==3.2.0"
pytest-variables = "*"
pyyaml = "*"


[dev-packages]
