#include "../../xcconfig/common.xcconfig"

INFOPLIST_FILE = config/Info.plist
HEADER_SEARCH_PATHS = "../../components/fxa-client/ios/FxAClient"  "../../components/logins/ios/Logins" "./RustLog"
LIBRARY_SEARCH_PATHS = "../../target/universal/$(buildvariant)" "../../libs/ios/universal/sqlcipher/lib"
FRAMEWORK_SEARCH_PATHS = "../../Carthage/Build/iOS"
CLANG_ENABLE_MODULES = YES
ALWAYS_SEARCH_USER_PATHS = NO
