#Ignore the Mac OS X .DS_Store files
.DS_Store

#Ignore user-specific settings
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
xcuserdata
project.xcworkspace

#Ignore textmate build errors
*.tm_build_errors

#Ignore temp nibs and swap files
*.swp
*~.nib

#Ignore the build, since we don't want archived builds
build

.gitattributes

*.orig
DerivedData/*
