/MyPlayground.playground/timeline.xctimeline
/build
/aStar.xcodeproj/project.xcworkspace/xcuserdata
/MyPlayground.playground/playground.xcworkspace/xcuserdata
/.build
/.swiftpm/xcode/package.xcworkspace/xcuserdata
/.swiftpm/xcode/xcuserdata
/Playground.playground/playground.xcworkspace/xcuserdata
