// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
ALWAYS_SEARCH_USER_PATHS = NO
ALWAYS_USE_SEPARATE_HEADERMAPS = NO
BUNDLE_LOADER = $(TEST_HOST)
CLANG_ENABLE_MODULES = YES
CLANG_MODULES_AUTOLINK = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = 43AQ936H96
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = YES;
ENABLE_STRICT_OBJC_MSGSEND = YES;
GCC_DYNAMIC_NO_PIC = NO;
HEADER_SEARCH_PATHS = $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include $(SRCROOT) $(SDKROOT)/usr/include/libxml2
INCLUDE_SETTINGS_BUNDLE = NO
IPHONEOS_DEPLOYMENT_TARGET = 15.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../../Frameworks @executable_path/Frameworks @loader_path/Frameworks
MOZ_PUBLIC_URL_SCHEME = firefox
MOZ_TODAY_WIDGET_SEARCH_DISPLAY_NAME = Firefox - Search
OTHER_LDFLAGS = -ObjC
OTHER_SWIFT_FLAGS_common = -DMOZ_TARGET_CLIENT
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = iphoneos
SKIP_INSTALL = YES // Overridden for Client and extensions, so they end up in the bundle
SWIFT_VERSION = 5.3
TARGETED_DEVICE_FAMILY = 1,2
TEST_TARGET_NAME = Client
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
DYLIB_INSTALL_NAME_BASE = @rpath
PRODUCT_BUNDLE_IDENTIFIER = org.mozilla.ios.$(PRODUCT_NAME)
