// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "EcosiaBetaDebug.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = TESTING;
OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_common) -DMOZ_CHANNEL_FENNEC -suppress-warnings
SWIFT_TREAT_WARNINGS_AS_ERRORS=NO
SWIFT_STRICT_CONCURRENCY=minimal
