IPHONEOS_DEPLOYMENT_TARGET = 12.0
SWIFT_VERSION = 5.3
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build/iOS $(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)
ENABLE_BITCODE = NO
CLANG_MODULES_AUTOLINK = NO
CLANG_ENABLE_MODULES = YES

// Flag to indicate if we want to include the debug settings bundle or not
INCLUDE_SETTINGS_BUNDLE = NO
// Adjust SDK Variables
ADJUST_ENVIRONMENT =
ADJUST_APP_TOKEN =
// Leanplum SDK Variables
LEANPLUM_ENVIRONMENT =
LEANPLUM_APP_ID =
LEANPLUM_KEY =
///BUNDLE_LOADER = "$(TEST_HOST)";
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Manual;
DEVELOPMENT_TEAM = 43AQ936H96;
//INFOPLIST_FILE = XCUITests/Info.plist;
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
//LIBRARY_SEARCH_PATHS = "$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)";
PRODUCT_NAME = $(TARGET_NAME)
//PROVISIONING_PROFILE_SPECIFIER = FirefoxXCUITests;
SDKROOT = iphoneos;
TEST_TARGET_NAME = Client;
VALIDATE_PRODUCT = YES;
SKIP_INSTALL = YES;
TARGETED_DEVICE_FAMILY = 1,2
//VALIDATE_PRODUCT = YES;
//VERSIONING_SYSTEM = "apple-generic";
//VERSION_INFO_PREFIX = "";
///                SWIFT_INCLUDE_PATHS = "$(PROJECT_DIR)/Storage/modules";
OTHER_SWIFT_FLAGS_common = -DMOZ_TARGET_CLIENT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG;
GCC_OPTIMIZATION_LEVEL[config=Debug] = 0
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1
ONLY_ACTIVE_ARCH[config=Debug] = YES
SWIFT_OPTIMIZATION_LEVEL[config=Debug] = -Onone
SWIFT_OPTIMIZATION_LEVEL[config=Release] = -Owholemodule
// DEBUG_INFORMATION_FORMAT = "dwarf-with-dsym";
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = DEBUG;
COPY_PHASE_STRIP = NO;
ENABLE_TESTABILITY = YES;
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ALWAYS_USE_SEPARATE_HEADERMAPS = NO

HEADER_SEARCH_PATHS = $(inherited) /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include "$(SRCROOT)" "$(SDKROOT)/usr/include/libxml2" "$(BUILD_DIR)/Release$(EFFECTIVE_PLATFORM_NAME)/include/**"

OTHER_LDFLAGS = -ObjC -lxml2 -framework AssetsLibrary -framework CoreText -framework CoreTelephony -framework SystemConfiguration -framework QuartzCore -framework AVFoundation -framework CoreMedia

PRODUCT_BUNDLE_IDENTIFIER = $(MOZ_BUNDLE_ID)
