// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "BaseConfig.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = Fennec Aurora

MOZ_PRODUCT_NAME = FennecAurora

MOZ_RELEASE_CHANNEL = aurora

INCLUDE_SETTINGS_BUNDLE = YES

ADJUST_ENVIRONMENT =
ADJUST_APP_TOKEN =

// To enable a feature using a defined feature flag in FeatureFlags, add the variable to the variable list below.
MOZ_FEATURE_FLAGS =