// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "BaseConfig.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = Firefox

MOZ_PRODUCT_NAME = Firefox

MOZ_RELEASE_CHANNEL = release

ADJUST_ENVIRONMENT =
ADJUST_APP_TOKEN =

INCLUDE_SETTINGS_BUNDLE = NO
