// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "BaseConfig.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = Firefox β

MOZ_PRODUCT_NAME = FirefoxBeta

MOZ_RELEASE_CHANNEL = beta

ADJUST_ENVIRONMENT = sandbox
ADJUST_APP_TOKEN = v32c8z72qz82

INCLUDE_SETTINGS_BUNDLE = YES
