// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "Common.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = Firefox

// Bundle Identifier
MOZ_BUNDLE_ID = org.mozilla.ios.Firefox

// Today Widget - Search
MOZ_TODAY_WIDGET_SEARCH_DISPLAY_NAME = Firefox - Search

CODE_SIGN_ENTITLEMENTS = "$(inherit)Extensions/Entitlements/Firefox.entitlements";
DEVELOPMENT_TEAM = "";

OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_common) -DMOZ_CHANNEL_RELEASE

MOZ_INTERNAL_URL_SCHEME = firefox-internal
