<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=.25, maximum-scale=1.6, initial-scale=1.0">
  <style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        font-family: Verdana;
        background: #f0f0f0;
    }

    .icon {
      border-radius: 9px;
      width: 80px;
    }

    .icon-label {
      font-size: 13px;
    }
    
    .btn {
      background: #53e635;
      background-image: -webkit-linear-gradient(top, #53e635, #4ce300);
      background-image: -moz-linear-gradient(top, #53e635, #4ce300);
      background-image: -ms-linear-gradient(top, #53e635, #4ce300);
      background-image: -o-linear-gradient(top, #53e635, #4ce300);
      background-image: linear-gradient(to bottom, #53e635, #4ce300);
      -webkit-border-radius: 6;
      -moz-border-radius: 6;
      border-radius: 6px;
      border-color: white;
      font-family: Arial;
      color: #ffffff;
      font-size: 18px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }
    
    .btn:hover {
      text-decoration: none;
    }
    
    #header {
      background: #e8e8e8;
      border-bottom: 1px solid;
      border-color: #e0e0e0;
      padding: 20px;
      margin: 0px;
    }
    
    #changes {
      margin: 0px;
      padding: 16px 0px 0px 8px;
    }
    
    #changes h3 {
      margin-top: 0px;
    }
  </style>
  <title>Fennec Aurora for iOS</title>
</head>

<body>

<div id="header">
<center>

<a href="itms-services://?action=download-manifest&url=https://people.mozilla.org/iosbuilds/BUILDNAME.plist"> <!-- HERE -->
<img class="icon" src="Firefox.png">
</a>
<p class="icon-label">Fennec Aurora (L10N BUILDID)</p> <!-- HERE -->


<h1><a class="btn" href="itms-services://?action=download-manifest&url=https://people.mozilla.org/iosbuilds/BUILDNAME.plist">Install Firefox Aurora</a></h1> <!-- HERE -->

<p>(The app will install after entering your mozilla.com LDAP account. If this is the first time you download the app, you will have to go to Settings -&gt; General -&gt; Profiles and then Trust the Mozilla Corporation)</p>

</center>
</div>

<div id="changes">

<h3>Focus areas for build BUILDID:</h3>

<ul>
<li>L10N Import as of BUILDID EST</li>
</ul>

NOTES

<p><i>Please do not forget to enable the <b>new crash reporter</b> that we now have. This will help us in a big way to resolve crashers.</i></p>

</div>

</body>

</html>

