website/build
target
credentials.json
*-engine.json
.cargo
*.db

# Android stuff.
*.iml
.gradle
local.properties
.idea
build
.DS_Store
captures
.externalNativeBuild

# iOS stuff.
xcuserdata

# Protobuf Swift
*.pb.swift

# Carthage generated artifacts
Carthage
MozillaAppServices.framework.zip
raw_xcodebuild.log
raw_xcodetest.log

# Generated debug symbols
crashreporter-symbols*
automation/symbols-generation/bin/

# Python
__pycache__
