<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustAppToken</key>
	<string>$(ADJUST_APP_TOKEN)</string>
	<key>AppIdentifierPrefix</key>
	<string>$(APP_IDENTIFIER_PREFIX)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.mozilla.ios.sync.part1</string>
		<string>org.mozilla.ios.sync.part2</string>
		<string>org.mozilla.ios.surface.notification.refresh</string>
		<string>org.mozilla.ios.firefox.suggest.ingest</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(MOZ_BUNDLE_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(MOZ_PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.mozilla.Client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(MOZ_PUBLIC_URL_SCHEME)</string>
				<string>$(MOZ_INTERNAL_URL_SCHEME)</string>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CHANNEL</key>
	<string>$(CHANNEL)</string>
	<key>INIntentsSupported</key>
	<array>
		<string>QuickActionIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paypal</string>
		<string>instagram</string>
		<string>youtube</string>
		<string>pocket</string>
		<string>firefox-focus</string>
		<string>firefox-klar</string>
		<string>ymail</string>
		<string>ms-outlook</string>
		<string>airmail</string>
		<string>italiaonline-mailto</string>
		<string>mailru-mailto</string>
		<string>mymail-mailto</string>
		<string>readdle-spark</string>
		<string>itms-books</string>
		<string>org-appextension-feature-password-management</string>
		<string>googlegmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MozDevelopmentTeam</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>MozInternalURLScheme</key>
	<string>$(MOZ_INTERNAL_URL_SCHEME)</string>
	<key>MozPublicURLScheme</key>
	<string>$(MOZ_PUBLIC_URL_SCHEME)</string>
	<key>MozWallpaperURLScheme</key>
	<string>$(MOZ_WALLPAPER_ASSET_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Firefox uses your camera to scan QR codes and take photos and video.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Firefox requires Face ID to access your saved passwords and payment methods.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Websites you visit may request your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Firefox uses your microphone to record and upload audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you save photos.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>QuickActionIntent</string>
		<string>org.mozilla.ios.firefox.browsing</string>
	</array>
	<key>NimbusURL</key>
	<string>$(NIMBUS_URL)</string>
	<key>PocketEnvironmentAPIKey</key>
	<string>$(POCKET_API_KEY)</string>
	<key>SentryCloudDSN</key>
	<string>$(SENTRY_CLOUD_DSN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NewYorkMedium-Bold.otf</string>
		<string>NewYorkMedium-BoldItalic.otf</string>
		<string>NewYorkMedium-Regular.otf</string>
		<string>NewYorkMedium-RegularItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>plusLarge</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Tab</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).NewTab</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>privateModeLarge</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Private Tab</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).NewPrivateTab</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>1Password Fill Browser Action</string>
			<key>UTTypeIdentifier</key>
			<string>org.appextension.fill-browser-action</string>
			<key>UTTypeSize64IconFile</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
