# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pytest = "*"
requests = "*"
xcrun = "*"
isim = "*"
black = "*"
pytest-html = "==3.2.0"
pytest-variables = "*"
pyyaml = "*"
typing_extensions = "*"


[dev-packages]
