[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fxapom = "*"
mozdownload = "*"
mozinstall = "*"
mozprofile = "*"
mozrunner = "*"
mozversion = "*"
pytest = "*"
pytest-fxa = "*"
pytest-html = "*"
pytest-metadata = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "2.7"
