name: Bitrise Xcode Check and Update

on:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./test-fixtures/requirements.txt
    - name: Modify bitrise.yml
      run: |
        python ./test-fixtures/update.py
    - name: Commit and push if bitrise.yml changed
      run: |-
        git diff
        git config --global user.email "firefox-test-engineering@mozilla.com"
        git config --global user.name "Firefox Test Engineering"
        git diff --quiet || (git add bitrise.yml)
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        commit-message: Auto Update Bitrise.YML
        author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        committer: GitHub <noreply@github.com>
        title: Update Bitrise NewXcodeVersions Workflow Xcode Stack
        branch: update-br-new-xcode-version
        token: ${{ secrets.GITHUB_TOKEN }}
