name: Update credential provider script

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # adding the workflow_dispatch so it can be triggered manually

env:
    SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Get the current github action name
          if: always()
          run: |
            github_action_name="Update credential provider script"
            echo "github_action_name=$github_action_name" >> $GITHUB_ENV
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./test-fixtures/requirements.txt
    - name: Modify credential provider script
      run: |
        python firefox-ios/Client/Assets/CC_Script/CC_Python_Update.py
    - name: Commit and push credential provider changed
      run: |-
        git diff
        git diff --quiet || (git add .)
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v6
      with:
        commit-message: Refactor [vXXX] auto update credential provider script
        author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        committer: GitHub <noreply@github.com>
        title: Refactor [vXXX] auto update credential provider script
        branch: update-cred-provider-script
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Send custom JSON data to Slack workflow
      if: always()
      id: slack
      uses: slackapi/slack-github-action@v1.26.0
      with:
            payload: |
              {
                "text": "GitHub Action ${{ env.github_action_name }} build result: ${{ job.status }}",
                "blocks": [
                  {
                    "type": "section",
                    "text": {
                      "type": "mrkdwn",
                      "text": "GitHub Action build result: ${{ job.status }}"
                    }
                  }
                ]
              }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  call-firefox-ios-autofill-playwrite-tests:
    uses: ./.github/workflows/firefox-ios-autofill-playwrite-tests.yml
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
