name: Test Autofill Playwright specs
permissions: read-all
on:
    workflow_dispatch:
    workflow_call:
      secrets:
          SLACK_WEBHOOK_URL:
            required: true
    push:
      branches: ['main']
      paths:
        - 'firefox-ios/Client/Assets/CC_Script/**'
    pull_request:
      paths:
        - 'firefox-ios/Client/Assets/CC_Script/**'
jobs:
  test:
    runs-on: macos-26
    timeout-minutes: 40
    strategy:
      matrix:
        node: ["24"]
    steps:
        - uses: actions/checkout@v6
        - name: Clone test specs
          uses: actions/checkout@v6
          with:
            repository: issammani/test-playwright
            path: 'test-playwright'
        - name: Get the current github action name
          run: |
            github_action_name="Update credential provider script"
            echo "github_action_name=$github_action_name" >> $GITHUB_ENV
        - name: Use Node ${{ matrix.node }}
          uses: actions/setup-node@v4
          with:
            node-version: ${{ matrix.node }}
        - name: Install test-playwright
          run: |
            cd test-playwright
            npm ci
            npx playwright install webkit
        - name: Run tests
          run: |
            cd test-playwright
            npm test
        - name: Set job log URL
          if: always()
          run: echo "JOB_LOG_URL=https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}" >> $GITHUB_ENV
        - name: Send Slack notification
          if: '${{ !cancelled() && !github.event.pull_request.head.repo.fork }}'
          id: slack
          uses: slackapi/slack-github-action@v2.0.0
          with:
            payload-file-path: "./test-fixtures/ci/slack-notification-payload-autofill-test.json"
            payload-templated: true
            webhook: ${{ secrets.WEBHOOK_SLACK_TOKEN }}
            webhook-type: incoming-webhook
          env:
            JOB_STATUS: ${{ job.status == 'success' && ':white_check_mark:' || job.status == 'failure' && ':x:' }}
            JOB_STATUS_COLOR: ${{ job.status == 'success' && '#36a64f' || job.status == 'failure' && '#FF0000' }}
