name: L10n Focus iOS screenshots (one set of locales only)
on:
  workflow_call:
    inputs:
      locale:
        required: true
        type: string
      branch:
        required: false
        type: string
        default: "main"
      derived-data:
        required: true
        type: string
        default: ""

jobs:
  get-screenshots:
    name: Generate screenshots
    runs-on: macos-26
    timeout-minutes: 80
    steps:
      - name: Clone firefox-ios repo
        uses: actions/checkout@v5
        with:
          repository: mozilla-mobile/firefox-ios
          ref: ${{ inputs.branch }}
      - name: Setup Xcode
        run: |
          sudo rm -rf /Applications/Xcode.app
          sudo xcode-select -s /Applications/Xcode_26.0.1.app/Contents/Developer
          xcodebuild -version
      - name: Run setup scripts for Focus
        timeout-minutes: 10
        run: |
          ./bootstrap.sh focus
      - name: Fetch derived data
        timeout-minutes: 10
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.derived-data }}
      - name: Extract derived data
        run: |
          ls -la *.tar.gz
          gunzip l10n-screenshots-dd.tar.gz
          tar -xvf l10n-screenshots-dd.tar
      - name: Generate screenshots
        timeout-minutes: 55
        continue-on-error: true
        id: screenshots
        run: |
          focus-ios/l10n-screenshots.sh --test-without-building ${{ inputs.locale }}
      - name: Upload screenshots
        uses: actions/upload-artifact@v4.6.0
        with:
          path: ./l10n-screenshots
          retention-days: 90
          name: Screenshots-${{ inputs.locale }}
