name: Snyk Security

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Snyk Code test
        run: snyk code test --sarif || true

      - name: Upload Snyk results
        uses: snyk/actions/docker@v2
        with:
          args: upload --all-projects --sarif=snyk.sarif