name: SwiftLint
on:
  pull_request:
    branches: [main, 'patch/**']
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:0.59.1

    steps:
      - uses: actions/checkout@v4

      - name: SwiftLint
        run: |
          swiftlint --reporter github-actions-logging --strict