name: SwiftLint
on:
  pull_request:
    branches: [ main, mob-3113-firefox-upgrade-133 ]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:latest

    steps:
    - uses: actions/checkout@v3

    - name: SwiftLint
      run: |
        swiftlint --reporter github-actions-logging --strict